<h1>Groups</h1>

<% for (const group of viewData.groups.nodes) { %>
  <a href="<%= group.webUrl %>"><%= group.name %></a>
  <% if (group.avatarUrl) { %>
    <img src="<%= group.avatarUrl %>" alt="Group avatar"></img>
  <% } else { %>
    <div class="default-group-avatar"></div>
  <% } %>
  <p>Path of group: <%= group.fullPath %></p>

  <p>Projects: </p>
  <% for (const project of group.projects.nodes) { %>
    <a href="<%= project.webUrl %>"><%= project.name %></a>
    <% if (project.avatarUrl) { %>
      <img src="<%= project.avatarUrl %>" alt="Project avatar"></img>
    <% } else { %>
      <div class="default-project-avatar"></div>
    <% } %>
    <p>Path of project: <%= project.fullPath %></p>
    <p>Last commit: </p>
    <p>Date: <%= project.repository.tree.lastCommit.authoredDate %></p>
    <p>Author name: <%= project.repository.tree.lastCommit.author.name %></p>
    <p>Author username: <%= project.repository.tree.lastCommit.author.username %></p>
    <% if (project.repository.tree.lastCommit.author.avatarUrl) { %>
      <img src="https://gitlab.lnu.se<%= project.repository.tree.lastCommit.author.avatarUrl %>" alt="Author avatar"></img>
    <% } else { %>
      <div class="default-author-avatar"></div>
    <% } %>  <% } %>

  <% if (group.projects.pageInfo.hasNextPage) { %>
    <p>There are more projects on GitLab</p>
  <% } %>

  <p>Subgroups: </p>
  <% for (const subgroup of group.descendantGroups.nodes) { %>
    <a href="<%= subgroup.webUrl %>"><%= subgroup.name %></a>
    <% if (subgroup.avatarUrl) { %>
      <img src="<%= subgroup.avatarUrl %>" alt="Subgroup avatar"></img>
    <% } else { %>
      <div class="default-subgroup-avatar"></div>
    <% } %>
    <p>Path of subgroup: <%= subgroup.fullPath %></p>
  <% } %>
<% } %>

<% if (viewData.groups.pageInfo.hasNextPage) { %>
  <p>There are more groups on GitLab</p>
<% } %>
