<h1>Profile</h1>

<p>ID: <%= viewData.id %></p>
<p>Name: <%= viewData.name %></p>
<p>Username: <%= viewData.username %></p>
<p>Email: <%= viewData.email %></p>
<img src="<%= viewData.avatar %>" alt="Avatar"></img>
<p>Last activity on: <%= viewData.lastActivityOn %></p>