<h1>Profile</h1>

<p>ID: <%= viewData.user.id %></p>
<p>Name: <%= viewData.user.name %></p>
<p>Username: <%= viewData.user.username %></p>
<p>Email: <%= viewData.user.email %></p>
<img src="<%= viewData.user.avatar %>" alt="Avatar"></img>
<p>Last activity on: <%= viewData.user.lastActivityOn %></p>